.lb-data .lb-caption {
  position: relative;
  top: 10px;
}

.lb-number{
  margin-top: 20px;
}

@media (min-width: 720px) {
  .lb-data .lb-caption {
    font-size: 1.5em;
    top: 30px;
  }
  .lb-number {
    margin-top: 50px;
  }
}
